.btn{
  appearance: button;
  background-color: #3fbafe;
  border: 0 solid #e5e7eb;
  border-radius: .65rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 24px;
  margin: 1.2rem;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.btn:active {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(0.125rem);
}

.btn:focus {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}