* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif; 
    /* transition: all 0.5s ease-in-out; */
}
body{
    background-color: #FFE3E1;
    min-width: 280px;
}

.active{
    color: #1f1f9f;;
    transform:scale(1.1);
}
a{
    text-decoration: none;
}