* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif; 
    /* transition: all 0.5s ease-in-out; */
}
body{
    background-color: #FFFFFF;
    min-width: 280px;
}

.active{
    color: black;
    background-color: #3FBAFE;
    padding: 1px;
    border-radius: 2px;
}

a{
    text-decoration: none;
}